<style>
    .container {
        max-width: 960px;
    }
</style>
<div class="container">
    <main>
        <div class="py-5 text-center">
            <a class="navbar-brand" href="/"><img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg"
                    alt="" width="72" height="57"></a>
            <h2>Add New Media</h2>
            <p class="lead">Just a few steps to start monetizing your content.</p>
        </div>


        <div >
            <h4 class="mb-3">Information</h4>
            <form class="needs-validation" novalidate>
                <div class="row g-3">                  

                    <div class="col-12">
                        <label for="filename" class="form-label">File name <span
                                class="text-body-secondary"></span></label>
                        <input type="text" class="form-control" name="filename" id="filename" placeholder="chapter, song name..." value="FileName" required>
                        <div class="invalid-feedback">
                            Please enter a valid file name.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="category" class="form-label">Category</label>
                        <input type="text" class="form-control" name="category" id="category" placeholder="Music, Movies, Series, etc."  value="Category" required>
                        <div class="invalid-feedback">
                            Please enter a category.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="partof" class="form-label">Part of</label>
                        <input type="text" class="form-control" name="partof" id="partof"  value="Halt & Catch Fire" placeholder="Album, TV Series, etc.">                        
                    </div>

                    <div class="col-12">
                        <label for="publishdate" class="form-label">Date Published</label>
                        <input type="date" class="form-control" name="publishdate" id="publishdate" placeholder="When it was or will be released" value="2018-07-22" required>
                        <div class="invalid-feedback">
                            Please enter a valid date.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="price" class="form-label">Price <span
                                class="text-body-secondary">(Euros)</span></label>
                        <input type="number" step="0.01" class="form-control" name="price" id="price" placeholder="How much does this cost"  value="0" required>
                        <div class="invalid-feedback">
                            Please enter a valid price.
                        </div>
                    </div>                  
                </div>              

                <hr class="my-4">

                <h4 class="mb-3">&#181;Payment</h4>
                <div class="col-12">
                    <label for="ownerwebid" class="form-label">Owner</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text">@</span>
                        <input type="url" class="form-control" name="ownerwebid" id="ownerwebid" placeholder="WebId" value="https://fandroide.solidcommunity.net/" required>
                        <div class="invalid-feedback">
                            Please enter a valid URL.
                        </div>
                    </div>
                </div>
                <div class="my-3">
                    <div class="form-check">
                        <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                        <label class="form-check-label" for="credit">Credit card</label>
                    </div>
                    <div class="form-check">
                        <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                        <label class="form-check-label" for="debit">Debit card</label>
                    </div>
                    <div class="form-check">
                        <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                        <label class="form-check-label" for="paypal">PayPal</label>
                    </div>
                </div>
          
                <hr class="my-4">

                <button class="w-100 btn btn-primary btn-lg" type="submit">Upload</button>
            </form>
        </div>

    </main>

    <footer class="my-5 pt-5 text-body-secondary text-center text-small">
        <p class="mb-1">&copy; 2017–2023 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>